
<!-- Topo -->
<div class="container-fluid">
<div class ="row">
    <div class="col-6">
            <img id="logo" src="assets/icons/logo.PNG" alt="Logomarca muito louca.">
    </div>
    <div class="col-6">
            <p class="destaque">O SITE DE DESENVOLVEDOR DE WEB MAIS GRANDE DO MUNDO</p>
        </div>
    </div>
</div>

<!-- Menu -->
<div class="container-fluid bg-verde-musgo">
    <div class="row">
        <div class="col-8">
                <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link active" href="https://www.google.com.br"> Tabela</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://www.google.com.br"> Link</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://www.google.com.br"> Link</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="https://www.google.com.br"> Link</a>
                        </li>
                </ul>

        </div>
        <div class="col-4">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="https://www.google.com.br"> Link 1</a>
                    </li>
                 </ul>
        </div>
    </div>
</div>

<!-- Conteudo -->
<div class="container-fluid">

    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="https://www.google.com.br"> Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.google.com.br"> Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.google.com.br"> Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.google.com.br"> Link</a>
                    </li>
            </ul>
        </div>
        <div class="col-10">
            <h1> Titulo da pagina </h1>
            
            <p>Lorem Ips    um é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
               
            


        </div>
    </div>

</div>


<!-- Rodape -->
<div class="container-fluid">
    <p> 2018 - Todos direitos reservados</p>
</div>
 
